@use './mixins' as *;
@use "sass:color" as *;

body {
	background: no-repeat url("../images/bg-pattern-top-desktop.svg") top left,
		no-repeat url("../images/bg-pattern-bottom-desktop.svg") bottom right,
		var(--magenta-light);

	@media screen and (max-width: 1024px) {
		background: no-repeat url("../images/bg-pattern-top-mobile.svg") top left,
			no-repeat url("../images/bg-pattern-bottom-mobile.svg") bottom right,
			var(--magenta-light);
	}
}

.social-proof {
	padding: 0 max(24px, 50vw - 1110px / 2);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 72px;

	@media screen and (max-width: 1024px) {
		display: block;

		> * {
			+ * {
				margin-top: 48px;
			}
		}
		padding: 0 max(24px, 50vw - 425px / 2);
	}

	&__header {
		@media screen and (max-width: 425px) {
			text-align: center;
		}
	}

	&__title {
		font-size: clamp(32px, (48 / 1024) * 100vw, 48px);
		line-height: 1;
		letter-spacing: -0.04em;
		max-width: 10ch;
		margin-bottom: 16px;

		@media screen and (max-width: 1024px) {
			max-width: unset;
		}
	}

	&__description {
		color: v("magenta-greyish");
		max-width: 37ch;
		font-weight: 500;

		@media screen and (max-width: 1024px) {
			max-width: unset;
		}
	}

	&__ratings {
		align-self: center;
		justify-self: end;
	}

	&__reviews {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;
		grid-area: auto / span 2;

		@media screen and (max-width: 1024px) {
			display: block;

			> * {
				+ * {
					margin-top: 16px;
				}
			}
		}
	}
}

.rating {
	padding: 16px 32px;
	border-radius: 10px;
	background-color: scale(c("magenta-light"), $lightness: -3%);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: 445px;

	+ .rating {
		margin-top: 16px;
	}

	&:nth-of-type(1) {
		transform: translateX(-96px);
	}

	&:nth-of-type(2) {
		transform: translateX(-48px);
	}

	@media screen and (max-width: 1024px) {
		display: block;
		text-align: center;
		padding: 16px 8px;

		&:nth-of-type(1),
		&:nth-of-type(2) {
			transform: translateX(0);
		}

		> * + * {
			margin-top: 8px;
		}
	}

	&__stars {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 32px;

		img {
			vertical-align: middle;

			+ img {
				margin-left: 4px;
			}
		}
	}

	&__review {
		font-weight: 700;
		white-space: nowrap;
	}
}

.review {
	margin: 0;
	border-radius: 10px;
	background-color: v("magenta-dark");
	color: v("white");
	padding: 40px 32px;
	display: grid;
	gap: 16px;
	font-size: 14px;

	@for $i from 2 through 3 {
		&:nth-of-type(#{$i}) {
			transform: translateY(16px * ($i - 1));
		}
	}

	.author {
		display: grid;
		grid-template-columns: max-content 1fr;
		grid-template-areas: "i n" "i s";
		gap: 0 16px;

		&__image {
			width: 40px;
			height: 40px;
			border-radius: 20px;
			vertical-align: middle;
			grid-area: i;
		}

		&__name {
			grid-area: n;
		}

		&__status {
			color: v("pink");
			grid-area: s;
		}
	}
}
