@use "sass:color" as *;

$colors: (
	"magenta-light": hsl(300, 24%, 96%),
	"magenta-greyish": hsl(303, 10%, 53%),
	"magenta-dark": hsl(300, 43%, 22%),
	"pink": hsl(333, 80%, 67%),
	"white": hsl(0, 0%, 100%),
	"black": hsl(0, 0%, 0%)
);

// Project Variables
:root {
	@each $name, $color in $colors {
		--#{$name}: #{$color};
	}
}
